Source: txt2mac
Section: unknown
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Vcs-Git: https://github.com/bgat/txt2mac.git

Package: txt2mac
Architecture: all
Depends: ${misc:Depends}
Description: Text-to-MAC utility
 Creates a pseudorandom Ethernet MAC address
 using a text string as the randomizer seed
